{% load static %}
<!-- Start Footer Area -->
    <footer class="text-white">
        <div class="container">
            <a class="footer-logo" href="#top" title="">
                <img src="{% static 'assets/images/logo.png' %}" alt="" class="img-fluid" />
            </a>
            <ul class="social-links list-unstyled d-flex justify-content-center">
                <li class="facebook">
                    <a href="#" title="Facebook" target="_blank">
                        <i class="mdi mdi-facebook font-20 text-white"></i>
                    </a>
                </li>
                <li class="twitter">
                    <a href="#" title="Twitter" target="_blank">
                        <i class="mdi  mdi-twitter font-20 text-white"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a href="#" title="Instagram" target="_blank">
                        <i class="mdi  mdi-google-plus font-20 text-white"></i>
                    </a>
                </li>
            </ul>
            <nav>
                <div class="menu-footer-menu-container mt-4">
                    <ul class="menu list-unstyled">
                        <li class="menu-item">
                            <a href="#">
                                <span class="line">Contact</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#">
                                <span class="line">Terms</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#">
                                <span class="line">Privacy</span>
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a href="#">
                                <span class="line">Trade Enquiries</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#">
                                <span class="line">Sitemap</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="copyright mt-4">
                <p>
                    © 2020 Atrikt<br>Website by <span class="line">ParExcellence</span>
                </p>
            </div>
        </div>
    </footer>