{% load static %}
<!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand brand-logo mr-4" href="index1.html">
                <img src="{% static 'assets/images/logo.png' %}" class="img-fluid logo-light" alt="">
                <img src="{% static 'assets/images/dark-logo.png' %}" class="img-fluid logo-dark" alt="">
            </a>
            <div class="navbar-collapse collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav navbar-center" id="mySidenav">
                    <li class="{% if 'home' in request.path %} nav-item active {% endif %}">
                        <a href="{% url 'home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="{% if 'about-us' in request.path %} nav-item active {% endif %}">
                        <a href="{% url 'about-us' %}" class="nav-link">About Us</a>
                    </li>
                    <li class="{% if 'services' in request.path %} nav-item active {% endif %}">
                        <a href="{% url 'services' %}" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="portfolio-two-column.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                        <ul class="nav-bar submenu dropdown-menu list-unstyled p-0">
                            <li class="nav-item">
                                <a href="portfolio-two-column.html" class="nav-link">Two Column</a>
                            </li>
                            <li class="nav-item">
                                <a href="portfolio-three-column.html" class="nav-link">Three Column</a>
                            </li>
                            <li class="nav-item">
                                <a href="portfolio-four-column.html" class="nav-link">Four Column</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if 'blog-grid' in request.path %} nav-item active {% endif %}">
                        <a href="{% url 'blog-grid' %}" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="portfolio-two-column.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <ul class="nav-bar submenu dropdown-menu list-unstyled p-0">
                            <li class="nav-item">
                                <a href="blog-detail.html" class="nav-link">Blog Details</a>
                            </li>
                            <li class="nav-item">
                                <a href="login.html" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="register.html" class="nav-link">Register</a>
                            </li>
                             <li class="nav-item">
                                <a href="404.html" class="nav-link">404</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="menu-close-btn"><i class="mdi mdi-close-circle-outline"></i></div>
            </div>
            <div class="header_btn">
                <button class="navbar-toggler ml-2 p-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->